.header {
  max-width: 100%;  /* Use percentage for responsive max-width */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.inside-header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 3px solid gray;
  width: 95%;  /* Use percentage to allow some margin */
  max-width: 1250px; /* Maximum width to control on larger screens */
  margin: auto; /* Centering */
}

.t {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.search1, .select {
  width: 100%;  /* Responsive width */
  max-width: 200px;  /* Limit the maximum width */
  border-radius: 20px;
  height: 28px;
  border: none;
  background-color: rgb(232, 227, 227);
  opacity: 80%;
  color: grey;
}

.image-top-inside-header, .icon, .icon1 {
  height: 2vw; /* Using viewport width for scaling */
  width: 2vw; /* Using viewport width for scaling */
  border-radius: 50%;
}

/* Media Queries for different screen sizes */
@media (max-width: 768px) {
  .inside-header {
    flex-direction: column;
    align-items: center;
  }

  .right-top-inside-header, .left-top-inside-header {
    margin: 10px 0;
    font-size: medium; /* Adjust font size for tablets */
  }

  .t {
    flex-direction: column;
    align-items: center;
  }

  .filter {
    font-size: medium; /* Adjust font size for readability */
    border-right: none; /* Removing border for simplicity */
    
  }
}

@media (max-width: 480px) {
  .right-top-inside-header, .left-top-inside-header {
    font-size: small; /* Smaller font size for mobile devices */
  }

  .icon, .icon1 {
    font-size: 4vw; /* Adjust icon size based on viewport width */
  }

  .name, .search, .created, .published {
    font-size: smaller; /* Ensure text is readable on small screens */
  }
}
